body{
    background:white;
    margin: 0;
}
.grid-container{
    display: grid;
    margin:auto;
    width: 80vw;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-template-rows: auto auto auto auto;
    grid-gap:1rem;
    /* grid-template-areas: ". . . ." ". . . ." ". . . ." ". . . ."; */
    font-family: 'B612 Mono', monospace;
}

/*arduinoLove container style*/
.arduinoLove{
    display: flex;
    justify-content: space-around;
    background-color: rgb(201, 14, 101);
    grid-column: 1/3;
    margin-top:20px;
    height: 200px;
}
p{
    font-size: 50px;
    margin-left: 20px;
}
.heart{
    background-color: #202248;
    margin:auto;
    margin-top:59px;
    width:100px;
    height:100px;
    transform: rotate(-45deg);
    -webkit-animation-name: heart;
    -webkit-animation-duration: 2s;
    animation-iteration-count: infinite;
}

.heart::after{
    position: absolute;
    content: "";
    left: 56px;
    top: 0;
    width: 100px;
    height:100px;
    background: #202248;
    border-radius:50%;
    -webkit-animation-name: heart;
    -webkit-animation-duration: 2s;
    animation-iteration-count: infinite;
    
}
.heart::before{
    position: absolute;
    content: "";
    left: 0;
    top: -54px;
    background:#202248;
    width: 100px;
    height:100px;
    border-radius:50%;
    -webkit-animation-name: heart;
    -webkit-animation-duration: 2s;
    animation-iteration-count: infinite;
    
}

@-webkit-keyframes heart {
    from {background-color:#202248;}
    to{background-color:#352048;}
    to{background-color:#6c4683;}
    to{background-color:#158c77;}
}

/* introText */
.intro{
    text-align: inherit;
    grid-column: 3/4;
}
.introText{
    font-size: 20px;
}
/* Links style */
.links{
    margin-top: 20px;
    margin-left: 5%;
    grid-column: 4/5;
    text-align: end;
}
.linksTwo{
    margin-top: 20px;
    margin-left: 5%;
    grid-column: 4/5;
    grid-row: 2/3;
    text-align: end;
}
.linksThree{
    margin-top: 80px;
    margin-left: 5%;
    grid-column: 4/5;
    grid-row: 4;
    text-align: end;
}
.linkText{
    font-size: 15px;
}
a{
    color: #158c77;
    text-decoration: none;
}
/* Exercice style */
h5{
    color: rgb(201, 14, 101);
}
ul{
    list-style-type: none;
    text-align: end;
    line-height: 30px;
}
.ledExercice{
    grid-column: 1;
    grid-row: 4;
    text-align: end;
}
.spaceShip{
    grid-column: 2;
    grid-row: 4;
    text-align: end;
}
.Banana{
    grid-column: 3/4;
    grid-row: 4;
    text-align: end;
    text-size-adjust: auto;
    margin-left: 20px;
    
}
.bananaText{
    font-size: 15px;
}
#pink{
    color:rgb(201, 14, 101);
}
/* first button */
/*the modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: -1;
    padding-top: 100px;
    left:50%;
    top:60%;
    right: 80%;
    width: 100%;
    height: 60%;
    background-color: #158c77;
    opacity:0.4;
    /* opacity: 0.4; */
}
/* Modal Content/box */
.modal-content {
    background-color: aqua;
    margin: 15% auto;
    padding: 20px;
    border:1px solid #888;
    width: 100%;
    z-index: 2;
}

/* The Close Button */
.close {
   color:black;
   float: right;
   font-size: 12px;
   font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer; 
}
/* second modal*/
/*the modal (background) */
.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    width: 30%;
    height: 30%;
    background-color: #158c77;
    opacity: 0.4;
}
/* Modal Content/box */
.modal1-content {
    background-color: aqua;
    margin: 15% auto;
    padding: 20px;
    border:1px solid #888;
    width: 80%;
}

/* The Close Button */
.close1 {
   color: #6c4683;
   float: right;
   font-size: 12px;
   font-weight: bold;
}
.close1:hover,
.close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer; 
}

/* third button */
/*the modal (background) */
.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left:0;
    top:0;
    width: 30%;
    height: 30%;
    background-color: #158c77;
    opacity: 0.4;
}
/* Modal Content/box */
.modal2-content {
    background-color: aqua;
    margin: 15% auto;
    padding: 20px;
    border:1px solid #888;
    width: 80%;
}

/* The Close Button */
.close2 {
   color: #6c4683;
   float: right;
   font-size: 12px;
   font-weight: bold;
}
.close2:hover,
.close2:focus {
    color: black;
    text-decoration: none;
    cursor: pointer; 
}
#myBtn, #myBtn1, #myBtn2{   
    height: 70%;
    width: 70%;
    font-size: 16px;
    background-color: #158c77;
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}